@{
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
    ViewBag.Title = "Journal Master";
}


<div class="panel panel-flat" id="pnlView">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2 col-md-offset-10 text-right">
                @if (Model.ISADD == 1)
                {
                    <div id="dx_btnAddNew"></div>
                }
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div id="dx_dataGrid"></div>
    </div>
</div>

<form id="frm_JournalBook" class="form-horizontal" style="display:none">
    <div class="panel panel-flat">
        <div class="panel-body">
            <div>
                <div class="form-group">

                    <div class="form-group">
                        <label class="col-md-2 control-label addstar">Voucher Date</label>
                        <div class="col-md-3">
                            <div id="dx_txtVoucherDate"></div>
                        </div>
                        <label class="col-md-2 control-label">Voucher No</label>
                        <div class="col-md-3">
                            <div id="dx_VchrNo"></div>
                        </div>
                    </div>

                    <div class="form-group">


                    </div>

                    <div class="form-group">

                        <label class="col-md-2 control-label addstar">Debit Acc</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div id="dx_txtdebitacc"></div>
                                <span class="input-group-addon" id="btnAddSelectionRecieveList">0.00</span>
                                <span class="input-group-addon" style="width: 49px;" id="spanDebitCurr"></span>
                            </div>
                        </div>
                        <label class="col-md-2 control-label addstar">Amount</label>
                        <div class="col-md-3">
                            <div id="dx_txtamt"></div>
                        </div>


                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label addstar" id="place">Credit Acc</label>

                        <div class="col-md-3">
                            <div class="input-group">
                                <div id="dx_txtcreditacc"></div>
                                <span class="input-group-addon" id="btnAddSelectionList">0.00</span>
                                <span class="input-group-addon" style="width: 49px;" id="spanCreditCurr"></span>
                            </div>
                        </div>
                        <label class="col-md-2 control-label addstar">Ex Rate</label>
                        <div class="col-md-3">
                            <div id="dx_txtExchangeRate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Remarks</label>
                        <div class="col-md-3">
                            <div id="dx_txtRemarks"></div>
                        </div>
                        <label class="col-md-2 control-label">Amount In Rs</label>
                        <div class="col-md-3">
                            <div id="txtAmountInRs"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer p-10">
                    <div class="row text-center">

                        <div id="dx_btnSubmit"></div>
                        <div id="dx_btnCancel"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="dx_popupRecordDelete"></div>


<link href="~/Content/plugin/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Content/plugin/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script src="~/Script/Manufacturing/JournalMaster.js?V=@DateTime.UtcNow"></script>
}