
@{
    ViewBag.Title = "AccountYearMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        .dropdown-menu {
            z-index: 999999999;
        }
    </style>
}

<div class="row" style="margin-top:10px">
    <div class="col-lg-12">
        <div class="panel" id="panelView">
            <div class="panel-body" >
                <div class="row">
                    <div class="col-sm-12" style="overflow-x: auto; overflow-y: hidden;">
                        @if (Model.ISADD == 1)
                        {
                            <div class="Pull_Text_Left">
                                <button class="formstylebutton  btn btn-success waves-effect waves-light m-t-10" type="button" id="btnAdd" style="font-weight:600!important"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add New Account Year</button>
                            </div>
                        }
                        <div class="jqGrid_wrapper" id="jqgrid_AccountYear" style="overflow-x: auto;overflow-y:auto">
                            <table id="table_list_AccountYearDtls"></table>
                            <div id="pager_list_AccountYearDtls"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel" id="panelEdit" style="display:none">
            <div class="panel-body" style="height:500px !important">
                <div id="userWizard">
                    <div style="height:32px;margin-bottom: 10px;">
                        <button id="btnCancelAccountYear" class="btn btn-sm pull-right purple" type="button" name="CancelAccountYear"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
                    </div>
                    <form id="frmAccYearDetails" class="form-horizontal">
                        <div class="form-group">
                                <label class="col-sm-2 control-label">Account Year Name<span style="color:red"> *</span></label>
                                <div class="col-sm-4">
                                    <input id="txtAccYearName" class="form-control required" name="AccYearName" type="text" placeholder="Account Year Name" tabindex="1" />
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 form-control-label" style="margin-top:5px">From Date<span style="color:red"> *</span></label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input class="form-control" id="txtFromDate" name="FromDate" placeholder="dd MMM yyyy" type="text" data-provide="datepicker" tabindex="2"  />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        <div class="form-group">
                            <label class="col-sm-2 form-control-label" style="margin-top:5px">To Date<span style="color:red"> *</span></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input class="form-control" id="txtToDate" name="ToDate" placeholder="dd MMM yyyy" type="text" data-provide="datepicker" tabindex="3"  />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Account DB<span style="color:red"> *</span></label>
                            <div class="col-sm-4">
                                <input id="txtAccDB" class="form-control required" name="AccDB" type="text" placeholder="Account DB" tabindex="4" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Production DB<span style="color:red"> *</span></label>
                            <div class="col-sm-4">
                                <input id="txtProductionDB" class="form-control required" name="ProductionDB" type="text" placeholder="Production DB" tabindex="5" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <button type="button" class="btn btn-success" id="btnSaveAccYearDtl" style="padding-left: 20px;padding-right: 20px;">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <input type="hidden" id="hdnAccountYearId" value="" />
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
<script src="~/Script/Outlet/AccountYearMaster.js"></script>
}